<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Buscar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              poppins: "Poppins, sans-serif",
            },
          },
        },
      };
    </script>
    <style>
      ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        background: #000;
      }

      ::-webkit-scrollbar-thumb {
        background: #22C55E;
        border-radius: 10px;
        border: 2px solid #000;
      }
    </style>
  </head>
  <body class="font-poppins">
    <section class="bg-stone-900 h-screen w-full flex">
      <div th:replace="~{sidebar}"></div>
      <div class="h-screen w-full overflow-hidden">
        <div th:replace="~{navbar}"></div>
        <div class="w-full pl-2 pr-4 pb-4" style="height: calc(100vh - 80px)">
          <div
            class="px-6 py-6 bg-stone-800 rounded-lg h-full overflow-y-auto text-white"
          >
            <form
              action="#"
              th:action="@{/buscar}"
              method="post"
              class="grid grid-cols-12 gap-4 pb-6 border-b border-stone-400"
            >
              <div class="flex flex-col space-y-1.5 col-span-5">
                <label for="" class="text-sm">Ingresar dato</label>
                <input
                  type="text"
                  name="query"
                  required
                  autocomplete="off"
                  class="bg-transparent px-3 py-1.5 border border-stone-400 w-full rounded-lg"
                />
              </div>
              <div class="col-span-4 flex items-end">
                <select
                  name="type"
                  required
                  class="w-full bg-stone-800 py-1.5 px-3 border border-stone-400 rounded-lg"
                >
                  <option value="" hidden>Seleccionar campo</option>
                  <option value="1">RUC de proveedor</option>
                  <option value="3">RUC de entidad</option>
                  <option value="10">
                    Fecha de formalización
                  </option>
                  <option value="18">Acuerdo marco</option>
                </select>
              </div>
              <div class="col-span-3 flex items-end">
                <button
                  type="submit"
                  class="bg-green-500 hover:bg-green-600 text-white py-2 rounded-lg shadow-lg shadow-green-500/50 w-full font-medium"
                >
                  Buscar
                </button>
              </div>
            </form>
            <div class="px-4 py-3">
              <div th:if="${results}">
                <div class="px-6 py-3 text-sm flex items-center justify-between">
                  <p class="text-stone-400">Valor buscado: <span th:text="${query}" class="text-stone-100"></span></p>
                  <div>
                    <button data-modal-target="filterModal" data-modal-toggle="filterModal" class="inline-flex items-center text-stone-300 border border-stone-300 focus:outline-none hover:bg-stone-700 focus:ring-0 font-medium rounded-lg px-4 py-1.5" type="button">
                      Filtrar
                    </button>
                    <div id="filterModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
                      <div class="relative w-full max-w-6xl max-h-full">
                        <div class="relative bg-stone-800 rounded-xl p-1 shadow">
                          <div class="flex items-center justify-between p-4">
                            <p class="text-base font-medium">Filtrar</p>
                            <button type="button" class="text-stone-200 bg-transparent hover:bg-stone-700/50 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-hide="filterModal">
                              <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            </button>
                          </div>
                          <div class="p-4">
                            <p>Pedro</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="relative overflow-x-auto">
                  <table class="w-full text-xs text-left text-stone-300">
                    <thead class="text-stone-100 uppercase bg-stone-900">
                      <tr>
                        <th scope="col" th:each="title, index : ${results.headers}" th:text="${title}" th:if="${title != null}" th:classappend="${index.first ? 'rounded-l-xl' : (index.last ? 'rounded-r-xl' : '')}" class="px-6 py-3 overflow-hidden"></th>
                      </tr>
                    </thead>
                    <tbody th:if="${#lists.size(results.results) > 0}">
                      <tr th:each="item : ${results.results}">
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_proceso}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.ruc_proveedor}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.proveedor}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.ruc_entidad}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.entidad}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.tipo_procedimiento}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.orden_electronica}"></td>
                        <td class="px-6 py-4 whitespace-nowrap underline"><a target="_blank" rel="noopener noreferrer" th:href="${item.orden_electronica_generada}">Link de descarga</a></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.estado_orden_electronica}"></td>
                        <td class="px-6 py-4 whitespace-nowrap underline"><a target="_blank" rel="noopener noreferrer" th:href="${item.documento_estado_ocam}">Link de descarga</a></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_formalizacion}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_ultimo_estado}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.sub_total}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.igv}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.total}"></td>
                        <td class="px-6 py-4 whitespace-nowrap underline"><a target="_blank" rel="noopener noreferrer" th:href="${item.orden_digitalizada}">Link de descarga</a></td>
                      </tr>
                    </tbody>
                    <caption th:if="${#lists.size(results.results) == 0}" align="bottom" class="px-6 py-4">
                      <p class="text-sm text-left font-normal text-stone-300">No hay resultados</p>
                    </caption>
                  </table>
                </div>
                <nav th:if="${#lists.size(results.results) > 0}" class="py-8 flex justify-center">
                  <ul class="inline-flex items-center -space-x-px text-white text-sm">
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 rounded-l-lg hover:bg-stone-700">
                        Anterior
                      </a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 hover:bg-stone-700">1</a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 hover:bg-stone-700">2</a>
                    </li>
                    <li>
                      <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight border border-stone-400 bg-stone-800 hover:bg-stone-700">3</a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 hover:bg-stone-700">4</a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 hover:bg-stone-700">5</a>
                    </li>
                    <li>
                      <a href="#" class="px-3 py-2 leading-tight bg-stone-800 border border-stone-400 rounded-r-lg hover:bg-stone-700">
                        Siguiente
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div th:unless="${results}">
                <p class="text-center text-stone-400">Realiza una búsqueda para obtener resultados</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $.ajax({
          url: "/api/hola",
          data: {},
          success: function(response) {
            console.log(response);
          },
          error: function() {},
        });
      });
    </script>
  </body>
</html>
