<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Buscar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              poppins: "Poppins, sans-serif",
            },
          },
        },
      };
    </script>
  </head>
  <body class="font-poppins">
    <section class="bg-stone-900 h-screen w-full flex">
      <div th:replace="~{sidebar}"></div>
      <div class="h-screen w-full overflow-hidden">
        <div th:replace="~{navbar}"></div>
        <div class="w-full pl-2 pr-4 pb-4" style="height: calc(100vh - 80px)">
          <div
            class="px-6 py-6 bg-stone-800 rounded-lg h-full overflow-y-auto text-white"
          >
            <form
              action="#"
              th:action="@{/buscar}"
              method="post"
              class="grid grid-cols-12 gap-4 pb-6 border-b border-stone-400"
            >
              <div class="flex flex-col space-y-1.5 col-span-5">
                <label for="" class="text-sm">Ingresar dato</label>
                <input
                  type="text"
                  name="query"
                  th:value="${query}"
                  required
                  autocomplete="off"
                  class="bg-transparent px-3 py-1.5 border border-stone-400 w-full rounded-lg"
                />
              </div>
              <div class="col-span-4 flex items-end">
                <select
                  name="type"
                  th:value="${type}"
                  required
                  class="w-full bg-stone-800 py-1.5 px-3 border border-stone-400 rounded-lg"
                >
                  <option value="" hidden>Seleccionar campo</option>
                  <option value="3">RUC de entidad</option>
                  <option value="1">RUC de proveedor</option>
                  <option value="10">
                    Fecha de formalización
                  </option>
                  <option value="18">Acuerdo marco</option>
                </select>
              </div>
              <div class="col-span-3 flex items-end">
                <button
                  type="submit"
                  class="bg-green-600 hover:bg-green-700 text-white py-2 rounded-lg shadow-lg shadow-green-500/50 w-full font-medium"
                >
                  Buscar
                </button>
              </div>
            </form>
            <div class="px-4 py-3">
              <div th:if="${results}">
                <div class="relative overflow-x-auto">
                  <table class="w-full text-xs text-left text-stone-300">
                    <thead class="text-stone-100 uppercase bg-stone-900">
                      <tr>
                        <th scope="col" th:each="title, index : ${results.headers}" th:text="${title}" th:if="${title != null}" th:classappend="${index.first ? 'rounded-l-xl' : (index.last ? 'rounded-r-xl' : '')}" class="px-6 py-3 overflow-hidden"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="item : ${results.results}">
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_proceso}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.ruc_proveedor}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.proveedor}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.ruc_entidad}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.entidad}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.tipo_procedimiento}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.orden_electronica}"></td>
                        <td class="px-6 py-4 whitespace-nowrap"><a target="_blank" rel="noopener noreferrer" th:href="${item.orden_electronica_generada}">Link</a></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.estado_orden_electronica}"></td>
                        <td class="px-6 py-4 whitespace-nowrap"><a target="_blank" rel="noopener noreferrer" th:href="${item.documento_estado_ocam}">Link</a></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_formalizacion}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.fecha_ultimo_estado}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.sub_total}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.igv}"></td>
                        <td class="px-6 py-4 whitespace-nowrap" th:text="${item.total}"></td>
                        <td class="px-6 py-4 whitespace-nowrap"><a target="_blank" rel="noopener noreferrer" th:href="${item.orden_digitalizada}">Link</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div th:unless="${results}">
                <p class="text-center text-stone-400">Realiza una búsqueda para obtener resultados</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
  </body>
</html>
