<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Inicio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" href="https://www.geoperu.gob.pe/favicon.ico">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            inter: "Inter, sans-serif",
          },
        },
      },
    };
  </script>
</head>

<body class="font-inter">
  <section class="bg-stone-900 h-screen w-full flex">
    <div th:replace="~{sidebar}"></div>
    <div class="h-screen w-full">
      <div th:replace="~{navbar}"></div>
      <div class="w-full pl-2 pr-2 md:pr-4 pb-4" style="height: calc(100vh - 5rem)">
        <div class="px-6 py-6 bg-stone-800 rounded-lg h-full overflow-y-auto text-white">
          <div class="w-full border-b border-stone-200 pb-3">
            <h2 class="text-2xl text-stone-200 font-semibold">¡Bienvenidos al Menú Principal del sistema!</h2>
          </div>
          <div class="w-full max-w-3xl py-6 grid grid-cols-3 gap-6">
            <div
              class="border border-green-500/50 hover:bg-green-600 cursor-default rounded-lg flex flex-col space-y-2 p-5 items-center">
              <i class="fas fa-search text-2xl"></i>
              <p class="text-lg text-center">Realizar búsquedas</p>
            </div>
            <div
              class="border border-green-500/50 hover:bg-green-600 cursor-default rounded-lg flex flex-col space-y-2 p-5 items-center">
              <i class="fa-solid fa-chart-line text-2xl"></i>
              <p class="text-lg text-center">Generar estadísticas</p>
            </div>
            <div
              class="border border-green-500/50 hover:bg-green-600 cursor-default rounded-lg flex flex-col space-y-2 p-5 items-center">
              <i class="fa-solid fa-download text-2xl"></i>
              <p class="text-lg text-center">Exportar archivos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>

</html>